// see http://projects.lukehaas.me/css-loaders/

$spinner-color: black;

spinner {

  .spinner {
    font-size: 25px;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: component-spinner-load5 1.1s infinite ease;
    transform: translateZ(0) scale(.2);
  }

  @include block;
}

@keyframes component-spinner-load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $spinner-color, 1.8em -1.8em 0 0em rgba($spinner-color, 0.07), 2.5em 0em 0 0em rgba($spinner-color, 0.07), 1.75em 1.75em 0 0em rgba($spinner-color, 0.07), 0em 2.5em 0 0em rgba($spinner-color, 0.07), -1.8em 1.8em 0 0em rgba($spinner-color, 0.07), -2.6em 0em 0 0em rgba($spinner-color, 0.5), -1.8em -1.8em 0 0em rgba($spinner-color, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba($spinner-color, 0.7), 1.8em -1.8em 0 0em $spinner-color, 2.5em 0em 0 0em rgba($spinner-color, 0.07), 1.75em 1.75em 0 0em rgba($spinner-color, 0.07), 0em 2.5em 0 0em rgba($spinner-color, 0.07), -1.8em 1.8em 0 0em rgba($spinner-color, 0.07), -2.6em 0em 0 0em rgba($spinner-color, 0.07), -1.8em -1.8em 0 0em rgba($spinner-color, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba($spinner-color, 0.5), 1.8em -1.8em 0 0em rgba($spinner-color, 0.7), 2.5em 0em 0 0em $spinner-color, 1.75em 1.75em 0 0em rgba($spinner-color, 0.07), 0em 2.5em 0 0em rgba($spinner-color, 0.07), -1.8em 1.8em 0 0em rgba($spinner-color, 0.07), -2.6em 0em 0 0em rgba($spinner-color, 0.07), -1.8em -1.8em 0 0em rgba($spinner-color, 0.07);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba($spinner-color, 0.07), 1.8em -1.8em 0 0em rgba($spinner-color, 0.5), 2.5em 0em 0 0em rgba($spinner-color, 0.7), 1.75em 1.75em 0 0em $spinner-color, 0em 2.5em 0 0em rgba($spinner-color, 0.07), -1.8em 1.8em 0 0em rgba($spinner-color, 0.07), -2.6em 0em 0 0em rgba($spinner-color, 0.07), -1.8em -1.8em 0 0em rgba($spinner-color, 0.07);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba($spinner-color, 0.07), 1.8em -1.8em 0 0em rgba($spinner-color, 0.07), 2.5em 0em 0 0em rgba($spinner-color, 0.5), 1.75em 1.75em 0 0em rgba($spinner-color, 0.7), 0em 2.5em 0 0em $spinner-color, -1.8em 1.8em 0 0em rgba($spinner-color, 0.07), -2.6em 0em 0 0em rgba($spinner-color, 0.07), -1.8em -1.8em 0 0em rgba($spinner-color, 0.07);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba($spinner-color, 0.07), 1.8em -1.8em 0 0em rgba($spinner-color, 0.07), 2.5em 0em 0 0em rgba($spinner-color, 0.07), 1.75em 1.75em 0 0em rgba($spinner-color, 0.5), 0em 2.5em 0 0em rgba($spinner-color, 0.7), -1.8em 1.8em 0 0em $spinner-color, -2.6em 0em 0 0em rgba($spinner-color, 0.07), -1.8em -1.8em 0 0em rgba($spinner-color, 0.07);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba($spinner-color, 0.07), 1.8em -1.8em 0 0em rgba($spinner-color, 0.07), 2.5em 0em 0 0em rgba($spinner-color, 0.07), 1.75em 1.75em 0 0em rgba($spinner-color, 0.07), 0em 2.5em 0 0em rgba($spinner-color, 0.5), -1.8em 1.8em 0 0em rgba($spinner-color, 0.7), -2.6em 0em 0 0em $spinner-color, -1.8em -1.8em 0 0em rgba($spinner-color, 0.07);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba($spinner-color, 0.07), 1.8em -1.8em 0 0em rgba($spinner-color, 0.07), 2.5em 0em 0 0em rgba($spinner-color, 0.07), 1.75em 1.75em 0 0em rgba($spinner-color, 0.07), 0em 2.5em 0 0em rgba($spinner-color, 0.07), -1.8em 1.8em 0 0em rgba($spinner-color, 0.5), -2.6em 0em 0 0em rgba($spinner-color, 0.7), -1.8em -1.8em 0 0em $spinner-color;
  }
}

