div(ng-if="collection.collection.pending")
  center
    spinner

div(ng-if="!collection.collection.pending")
  div.icon(
  ng-repeat="icon in ::collection.views track by icon.icon.id"
  ng-show="icon.visible"
  style="display: inline-block; width: 60px; text-align: center; vertical-align: top;"
  )
    webicon(icon="{{::collection.collection.id}}:{{::icon.icon.id}}" style="height: 40px; width: 40px")
    .text-muted(style="font-size: .7em") {{::icon.icon.label}}