.ng-modal(ng-show='show')
  .ng-modal-overlay(ng-click='hideModal()')
  .ng-modal-dialog(ng-style='dialogStyle')
    .ng-modal-close(ng-click='hideModal()')
    .ng-modal-dialog-content(ng-transclude)
